<section id="todo-list">
  <div class="row h-100">
    <div class="col-12">
      <div class="text-center font-weight-bold mb-5">To Do List</div>
      <input
        type="search"
        class="search-box form-control w-100 mb-5"
        placeholder="Search ..."
      />
      <app-task-list
        [taskList]="taskList"
        (sendCheckedTaskIds)="getCheckedTaskIds($event)"
      ></app-task-list>
    </div>
    <div
      class="col-12 bg-dark-20 mt-5"
      [ngStyle]="{ height: 'fit-content' }"
      *ngIf="checkedTaskIds.length"
    >
      <div
        class="bulk-action row flex-nowrap justify-content-center align-items-center m-0 p-2"
      >
        <div class="col ml-0 ml-lg-4 ml-xl-5">Bulk Action:</div>
        <div class="actions col d-flex flex-wrap justify-content-around">
          <div class="py-2">
            <button class="btn btn-info">Done</button>
          </div>
          <div class="py-2">
            <button class="btn btn-danger" (click)="removeCheckedTasks()">
              Remove
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
